$bg-color-jelly-bean: #E56353;
$bg-color-granete: #686963;
$bg-color-gray: #91918d;
$font-text: 'Raleway', sans-serif;
$font-size-hero: 45px;
$font-size-card: 30px;
$width-nav: 200px;
$width-header: 100%;